<html>
<head>
	<title>Awesome Web App</title>
</head>
<body>
	<h1>This is the welcome page</h1>

	<%= link_to 'See Venues', venues_path(@venue) %><br>
	<%= link_to 'Create Venue', new_venue_path(@venue) %><br>
	<%= link_to 'Create Band', new_band_path(@band) %><br>
	<%= link_to 'Search Events', events_path(@event) %><br>



</body>
</html>